.detail {
  overflow: hidden;
  min-height: calc(100vh);
  // position: relative;
  background-repeat: repeat;
  background-image: url(./../assets/images/bg-repeat3.png);
  overflow: hidden;
  background-size: 200px 200px;
}
